# Ignore node_modules folder
.vscode/
.history/
.venv/
venv/
.DS_Store
static/.DS_Store
static/media/.DS_Store

__pycache__/
after_submit.html
after_submit.png
before_submit.png
post_submit_debug.html
post_submit_debug.png